p{
    color: #a52a2a;
    text-align: center;
    line-height: 30px;
}

h1{
    text-align: center;
    color:red;
    font-family: georgia;
}

h3{
    color: black;
    font-family: georgia;
    text-align: center;
}

a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    color:blueviolet;
    background-color: white;
}
span{
    text-decoration: underline;
}
